365.json
url.txt
ip.txt
ipv4.txt
ipv4Split.txt
endpoints_clientid_latestversion.txt
IPv4 Firewall IP Address Ranges.txt
URLs for Proxy Server.txt
1.1 Microsoft URLs and IPs latestversion.txt
.gitignore
1.2 Microsoft IPs.txt
2.1 Microsoft URLs and IPs  Exchange Online exchange.txt
1.3 Microsoft URLs.txt
2.2 Microsoft IPs Exchange Online.txt
2.3 Microsoft URLs Exchange Online.txt
